.Header {
	width: 1180px;
	display: flex;
	justify-content: space-between;

	&-logo {
		width: 182px;
		height: 36px;
		background: url("/img/header_logo.svg") no-repeat center;
		cursor: pointer;
	}

	&-search {
		display: flex;
		align-items: flex-end;
	}
}
