.Button {
	padding: 9px 32px;
	max-width: fit-content;
	max-height: fit-content;
	border-radius: 4px;
	cursor: pointer;
	color: #ffffff;
	font-weight: 500;
	background-color: #e5261e;

	&:hover {
		background: #cc221b;
	}

	&._flat {
		padding: 9px 16px;
		color: #e5261e;
		background-color: #ffffff;
	}

	&._disabled {
		background-color: rgb(186, 186, 186);
		color: rgb(130, 126, 126);
		cursor: inherit;
	}
}

@keyframes onHover {
}
