.Button {
	padding: 9px 32px;
	max-width: fit-content;
	border-radius: 4px;
	cursor: pointer;
	color: #ffffff;
	background-color: #e5261e;

	&:hover {
		background: #cc221b;
	}

	&._flat {
		color: #e5261e;
		background-color: #ffffff;

		&:hover {
			color: #ffffff;
			background-color: #e5261e;
		}
	}
}

@keyframes onHover {
}
