.Header {
	position: relative;
	width: 1180px;
	display: flex;
	justify-content: space-between;

	&-logo {
		display: flex;
		align-items: center;
		padding-left: 11px;
		width: fit-content;
		height: 36px;
		font-size: 1.4rem;
		text-decoration: none;
		color: #000;
		font-weight: 500;
		background: url("/img/header_logo.svg") no-repeat;
		cursor: pointer;

		&::before {
			content: "";
			width: 36px;
			height: 36px;
		}
	}

	&-search {
		display: flex;
		align-items: flex-end;
	}
}
