.MovieItemsList {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-height: 478px;

	&._small {
		justify-content: flex-start;

		.MovieItem {
			& ~ .MovieItem {
				margin-left: 20px;
			}
		}
	}

	@mixin arrow {
		position: absolute;
		width: 60px;
		height: 60px;
		z-index: 1;
		border-radius: 40px;
		background-color: rgb(119, 117, 117);
		cursor: pointer;
		opacity: 0.6;

		&:hover {
			background-color: rgb(155, 153, 153);
			transform: scale(1.1);
			transition: 0.2s;
			opacity: 1;
		}
	}

	.arrow-left {
		top: 35%;
		left: 0;
		background: url("/img/arrow_left.png") no-repeat center / cover;
		@include arrow();
	}

	.arrow-right {
		top: 35%;
		right: 0;
		background: url("/img/arrow_right.png") no-repeat center / cover;
		@include arrow();
	}

	.MovieItem {
		flex: 0 1 280px;
		$padding: 16px;
		margin: 22px 0;
		height: 434px;

		.img-container {
			padding: $padding;
			position: relative;
			margin-bottom: 16px;
			width: 100%;
			height: 370px;
			color: #f2f2f2;
			cursor: pointer;
			border-radius: 8px;

			&::before {
				position: absolute;
				display: inline-block;
				top: 30px;
				width: calc(100% - (2 * $padding));
				content: attr(data-description);
				line-height: 140%;
				opacity: 0;
				transition: 0.3s ease-out;
			}

			&:hover {
				opacity: 0.8;

				&::before {
					top: $padding;
					opacity: 1;
				}
			}
		}

		.title {
			font-size: 20px;
			line-height: 24px;
		}
	}

	.empty-list {
		position: absolute;
		top: 50px;
		font-size: 30px;
	}
}
