.Wrapper {
	position: fixed;
	height: 100vh;
	width: 100vw;
	overflow: hidden;

	&._moving {
		user-select: none;
		.Wrapper-scrollbar {
			opacity: 1;
		}
	}

	&-scrollbar {
		opacity: 0;
		position: fixed;
		height: 100vh;
		right: 0;
		width: 15px;
		z-index: 500;
		transition: opacity 0.5s ease-out;

		&:hover {
			opacity: 1;
		}

		&-button {
			position: absolute;
			width: 110%;
			background-color: rgb(116, 114, 114);
			border-radius: 5px;
		}
	}

	&-content {
		position: relative;
	}
}
