* {
	box-sizing: border-box;
	cursor: default;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Rubik";
	font-style: normal;
}

.container {
	padding: 34px 130px;
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
}
