.MovieItemsList {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@mixin arrow {
		position: absolute;
		width: 60px;
		height: 60px;
		z-index: 1;
		border-radius: 40px;
		background-color: rgb(119, 117, 117);
		cursor: pointer;
		opacity: 0.6;

		&:hover {
			background-color: rgb(155, 153, 153);
			transform: scale(1.1);
			transition: 0.2s;
			opacity: 1;
		}
	}

	.arrow-left {
		top: 35%;
		left: 0;
		background: url("/img/arrow_left.png") no-repeat center / cover;
		@include arrow();
	}

	.arrow-right {
		top: 35%;
		right: 0;
		background: url("/img/arrow_right.png") no-repeat center / cover;
		@include arrow();
	}
}
